/*Обнуление*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

/*Технический класс для ширины контента*/
._container {
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

/*Секция с фото*/
.section_photo {
    background-image: url(../images/bg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    color: white;
}

.main_logo {
    font-weight: 300;
    font-size: 30px;
    margin-right: 10px;
}

.point {
    color: #5bb5de;
}

.second_side_logo {
    font-weight: bold;
}

.menu_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu_link {
    position: relative;
    padding: 30px 15px;
    font-size: 18px;
}

.menu_link:after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: 15px;
    transition: 0.6s;
}

.menu_link:hover {
    color: #ffffff;
}

.menu_link:hover:after {
    width: 100%;
}

.main_text_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh
}

.main_text {
    max-width: 480px;
    font-size: 2rem;
    color: white;
    line-height: 1.1;
    text-align: center;
    padding: 0 10px;
}

/*Секция с тремя картами*/
.section_cards{}

.three_cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -140px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 348px;
    background: #28cac1;
    height: 250px;
}

.card_center {
    background: #a120b8;
    height: 290px;
}

.icon_css {
    font-size: 30px;
    color: white;
}

.card_title {
    margin: 20px 0 10px 0;
    color: white;
    font-size: 1.4rem;
}

.card_subtitle {
    text-align: center;
    color: white;
}

/*Секция с сервисами*/
.services {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.services_text {
    width: 50%;
}

.services_image img{
    max-width: 520px;
}

.services_text>h6 {
    color: #2dc5c7;
    font-size: 1.5rem;
}

.services_text>h3 {
    color: #232222;
    font-size: 3rem;
    font-weight: 300;
}

.services_text>p {
    margin: 40px 0;
    font-size: 1.2rem;
    color: #4e4b4b;
}

.services_text>button {
    color: white;
    background: #a120b8;
    border-radius: 50px;
    padding: 15px 40px;
    border: none;
}